.git
.env
node_modules
vendor
backend/vendor
backend/node_modules
scraper/node_modules
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*